/* 1 requirement */
ol {
  background-color: yellow;
}

ol li:nth-child(even) {
  color: green;
}

ol li:nth-child(odd) {
  text-transform: uppercase;
}

/* 2nd requirement */
h1,
h3 {
  color: red;
}

h1 {
  font-size: 40px;
  border: 1px solid black;
}

/* 3rd requirement */
li {
  font-size: 20px;
}

ol li:nth-child(even) em {
  font-weight: bold;
}

/* 4th requirement */
body ul:nth-child(6) li:nth-child(-n + 3) {
  color: blue;
}

body ul:nth-child(6) li:nth-child(2),
body ul:nth-child(6) li:nth-child(3) {
  background-color: pink;
}

/* 5th requirement */
ul li a:hover {
  font-weight: bold;
}

ul li:nth-child(1) a:hover {
  color: orange;
}

ul li:nth-child(2) a:hover {
  color: green;
}

ul li:nth-child(3) a:hover {
  color: black;
}

ul li:nth-child(4) a:hover {
  color: yellow;
}

ul li:nth-child(5) a:hover {
  color: green;
}
