* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  color: #555;
  font-size: 2rem;
}

header {
  margin: 4rem 2rem;
}

form {
  margin: 2rem 1.5rem;
}

.form-inner-container {
  padding: 1rem 4rem;
  margin: 2rem 0;
  border: 5px solid black;
}

.form-inner-div {
  margin: 4rem 0;
}

.margin-bottom-small {
  display: inline-block;
  margin-bottom: 1rem;
}

.margin-right-small {
  display: inline-block;
  margin-right: 2rem;
}

.form-btn {
  cursor: pointer;
  padding: 1rem;
  font-size: inherit;
  color: inherit;
  background-color: #fff;
  border: 1px solid #555;
  border-radius: 15px;
}
